    * {
        padding: 0;
        margin: 0;
    }
    
    p {
        margin-bottom: 20px;
    }
    
    .wrapper {
        width: 80%;
        margin: auto;
        overflow: hidden;
        margin-left: 36%;
    }
    
    header {
        background: white;
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    
    nav {
        float: left;
        /* Desplazamos el nav hacia la izquierda */
    }
    
    nav ul {
        list-style: none;
        overflow: hidden;
        /* Limpiamos errores de float */
    }
    
    nav ul li {
        float: left;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }
    
    nav ul li a {
        display: block;
        /* Convertimos los elementos a en elementos bloque para manipular el padding */
        padding: 20px;
        color: black;
        text-decoration: none;
    }
    
    nav ul li:hover {
        background: #3ead47;
    }
    
    .contenido {
        padding-top: 80px;
    }
    
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .img {
        margin-left: 15%;
        margin-top: 10%;
    }
    
    .titulo {
        color: white;
    }
    
    .img1 {
        margin-left: 21%;
    }
    
    .img2 {
        margin-left: 10%;
    }
    
    .logo {
        width: 5%;
        height: 7%;
    }
    
    .franfurt {
        width: 30%;
        align-items: center;
        border-radius: 2px;
        display: flex;
        height: 10%;
        margin-left: 32%;
    }
    
    table {
        border: #b2b2b2 1px solid;
        margin-left: 43%;
    }
    /* .img5 {
    width: 320px;
    margin-left: 6%;
} */
    
    .img6 {
        margin: 0%;
    }
    
    .img5 {
        width: 20vw;
        margin-left: 4vw;
    }
    
    td,
    th {
        border: black 1px solid;
    }
    
    .section {
        padding: 70px 0;
    }
    
    .container {
        max-width: 375px;
        margin: 0 auto;
    }
    
    .e {
        height: 27vw;
        width: 35vw;
        margin-left: 30%;
    }
    
    .card {
        width: 10vw;
    }
    
    .titulo {
        height: 7vw;
        color: black;
        display: flex;
        align-items: center;
        opacity: 100%;
        border-color: #aaaaaa;
        border-width: 0.5vw;
        border-style: solid;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
    .titulo1 {
        font-size: 50px;
        margin-left: 43vw;
    }
    
    .slide {
        margin: 10vw;
        display: flex;
    }
    
    @media(max-width: 1800px) {
        .img5 {
            width: 32vw;
            margin-left: 11vw;
            height: 32vw;
        }
        .titulo {
            width: 80vw;
            margin-right: 0vw;
            display: flex;
            align-items: center;
            margin-left: 6vw;
        }
        .titulo1 {
            margin-right: 0vw;
            margin-left: 32vw;
        }
    }
    
    @media(max-width: 1200px) {
        .titulo {
            width: 80vw;
            height: 13vw;
            margin-right: 0vw;
            margin-left: 10vw;
            display: flex;
            align-content: center;
        }
        .titulo1 {
            margin-right: 0vw;
            margin-left: 0vw;
        }
        .wrapper {
            width: 100vw;
            margin: 0vw;
            height: auto;
            margin-left: 0vw;
            margin-right: 0vw;
        }
        .img {
            width: 80%;
            margin-top: 25%;
        }
        .img1 {
            width: 49%;
            margin-left: 0%;
        }
        .img2 {
            width: 49%;
            height: 20%;
            margin-left: 0%;
        }
        .img5 {
            width: 50vw;
            height: 45vw;
            margin-left: 25vw;
        }
        .logo {
            width: 0%;
            height: 0%;
        }
        /* .e {
            width: 40vw;
            display: flex;
            margin-left: 13%;
        } */
        .container {
            max-width: auto;
            height: auto;
            margin-top: 10%;
        }
        ul {
            margin-bottom: 0%;
            padding-left: 0%;
        }
    }
    
    @media(max-width: 400px) {
        .titulo {
            width: 80vw;
            height: 10vw;
            margin-right: 0vw;
            margin-left: 7vw;
            margin-top: 12%;
        }
        .titulo1 {
            margin-right: 0vw;
            margin-left: 0vw;
        }
    }